*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #7e1d69;
    padding: 10px 20px;
    position: relative;
}

.menu-toggle {
    display: none;
}

.hamburguer {
    display: none;
    flex-direction: column;
    cursor: pointer;
    width: 30px;
    height: 25px;
    justify-content: space-between;
}

.hamburguer span {
    height: 4px;
    background: white;
    border-radius: 2px;
}

ul.menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

ul.menu li a {
    color: rgb(238, 238, 238);
    text-decoration: none;
}

h1{
    align-items: center;
    text-align: center;
    color: aliceblue;
}
/*Responsivo*/
@media (max-width:768px) {
.hamburguer {
    display: flex;

}
ul.menu{
   display: none;
   flex-direction: column;
   background: #333;
   position: absolute;
   top: 60px;
   left: 0;
   width: 100%;

}
.menu-toggle:checked
+ .hamburguer+ul.menu {
   display: flex;
  }

  }
/* From Uiverse.io by satyamchaudharydev */ 
/* === removing default button style ===*/
.button {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}

/* button styling */
.button {
  --border-right: 6px;
  --text-stroke-color: rgba(255,255,255,0.6);
  --animation-color: #700867;
  --fs-size: 2em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}
/* this is the text, when you hover on button */
.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}
/* hover */
.button:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color)) 
}
                    /* From Uiverse.io by mRcOol7 */ 
.card {
  --background: linear-gradient(to right, #962bc0 0%, #9b54b8 100%);
  width: 190px;
  height: 254px;
  padding: 5px;
  border-radius: 1rem;
  overflow: visible;
  background: #000000;
  background: var(--background);
  position: relative;
  z-index: 1;
}

.card::before,
.card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  z-index: -1;
}

.card::before {
  background: linear-gradient(to bottom right, #db5cdb 0%, #8a1da5c7 100%);
  transform: rotate(2deg);
}

.card::after {
  background: linear-gradient(to top right, #d584fa 0%, #740a8a 100%);
  transform: rotate(-2deg);
}

.card-info {
  --color: #520e4e;
  background: var(--color);
  color: var(--color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: visible;
  border-radius: 0.7rem;
  position: relative;
  z-index: 2;
}

.card .title {
  font-weight: bold;
  letter-spacing: 0.1em;
}

.card:hover::before,
.card:hover::after {
  opacity: 0;
}

.card:hover .card-info {
  color: #85158f;
  transition: color 1s;
}
