*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #7e1d69;
    padding: 10px 20px;
    position: relative;
}

.menu-toggle {
    display: none;
}

.hamburguer {
    display: none;
    flex-direction: column;
    cursor: pointer;
    width: 30px;
    height: 25px;
    justify-content: space-between;
}

.hamburguer span {
    height: 4px;
    background: white;
    border-radius: 2px;
}

ul.menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

ul.menu li a {
    color: rgb(238, 238, 238);
    text-decoration: none;
}

h1{
    align-items: center;
    text-align: center;
    color: aliceblue;
}
/*Responsivo*/
@media (max-width:768px) {
.hamburguer {
    display: flex;

}
ul.menu{
   display: none;
   flex-direction: column;
   background: #333;
   position: absolute;
   top: 60px;
   left: 0;
   width: 100%;

}
.menu-toggle:checked
+ .hamburguer+ul.menu {
   display: flex;
  }

  }
/* From Uiverse.io by satyamchaudharydev */ 
/* === removing default button style ===*/
.button {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}

/* button styling */
.button {
  --border-right: 6px;
  --text-stroke-color: rgba(255,255,255,0.6);
  --animation-color: #37FF8B;
  --fs-size: 2em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}
/* this is the text, when you hover on button */
.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}
/* hover */
.button:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color))
}
